.brands-container {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background: #f9f9fa;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 35px !important;
  margin: 0 !important;
  background: #f9f9fa;
  border: 1px solid #f0f1f5;
  border-radius: 16px;
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 15px 0;
  width: 100%;
  align-content: flex-start;
}

.modal-img {
  margin: 10px auto;
}

.modal-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
}

input,
textarea {
  width: 90%;
  border: 1px solid #313957;
  border-radius: 5px;
}

input {
  height: 20px;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #039e2a;
}

.btn-modal {
  width: auto;
  height: auto;
  padding: 10px 25px;
  margin-top: 15px;
  align-self: flex-end;
  background: #039e2a;
  border-radius: 30px;
  border: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

.btns-modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.invalid {
  color: rgb(201, 47, 47) !important;
}

.p-modal {
  font-size: 10px;
  font-weight: 300;
  color: #313957;
  width: 100%;
}

.ps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 15px 0 0 35px;
}

.brands-h2 {
  align-items: left;
  margin: 0 0 0 35px;
  color: #313957;
}

.brands-h5 {
  width: 75%;
  align-items: left;
  margin: 20px 0 20px 35px;
  color: #656f8b;
}

.brand-item-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 75px;
  gap: 10px;
  width: 265px;
  height: 100px;
  background: #ffffff;
  border-radius: 10px;
}

.brand-item-container:hover {
  border: 1px solid #039e2a;
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 2;
}

.brand-img {
  position: relative;
}

.light-img {
  width: 40px;
  height: 40px;
}

.brand-p {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #039e2a;
}

.column {
  float: left;
  width: 25%;
}

.row {
  height: auto;
  display: flex;
  gap: 10px;
  margin-left: 35px;
}
