.har-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  background: #f9f9fa;
}

.har-h2 {
  margin-left: 35px;
  display: flex;
  align-items: center;
  color: #039e2a;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;
  width: 95%;
  margin-left: 35px;
}

.btn-container-car {
  flex-direction: column;
  gap: 15px;
  width: 95%;
  height: auto;
}

.btn-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 100%;
}

.btn-area {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-area-open {
  background: #039e2a;
  flex-direction: column;
  align-items: flex-start;
  transition: height 0.2s ease-out;
}

.btn-area:hover {
  border: 1px solid #039e2a;
}

.btn-area-h4 {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #313957;
}

.btn-area-h4-open {
  color: #ffffff;
}

.btn-area-h6 {
  margin-left: 20px;
  margin-top: 0;
  width: 80%;
  display: flex;
  align-items: center;
  color: #d0ecd7;
}

.har-panel {
  justify-content: space-between;
}

.btn-area-img {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background: #039e2a;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
}

.btn-open {
  background: #ffffff;
}
