footer {
  background-color: #f9f9fa;
  width: 1400px;
  padding-top: 50px;
}

.footer-subcontainer {
  display: flex;
  flex-direction: row; 
  width: 1200px;
  position: relative;
  box-sizing: border-box;
  height: auto;
  border: 1px solid #e6e8ef;
  border-radius: 16px;
  margin-left: 100px;
  justify-content: space-evenly;
}

.section-1-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 30px 20px 20px;
  border-right: 1px solid #e6e8ef;
}

.section-4-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 30px 20px 20px;
}

.clicks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: left;
  width: 100%;
  margin-left: 15px;
  gap: 15px;
}

.clicks-img {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  gap: 20px;
  margin-right: 15px;
  padding: 10px 0;
}

.logo-footer {
    position: relative;
  width: 42px;
}

.h5-footer {
  width: auto;
  height: auto;
  margin: 10px 0;
}

.a-footer {
  text-decoration: none;
}

.input-footer {
  padding-left: 15px;
  width: 80%;
  height: 40px;
  border: 1px solid #b7bac0;
  border-radius: 30px;
}

.btn-footer {
  background: #039e2a;
  border-radius: 30px;
  border: none;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  width: 89%;
  margin-top: 15px;
  height: 40px;
}
