h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
textarea {
  font-family: "General Sans";
  font-style: normal;
  position: relative;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-weight: 500;
  font-size: 19px;
}

h4 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

h5 {
  font-weight: 400;
  font-size: 15px;
}

h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

p {
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}

.container {
  display: flex;
  padding: 50px 0;
  margin: 30px 0 0 0;
  width: 1200px;
  height: auto;
  border-radius: 16px;
}

.panel {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
